doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1')
    title TKHS Collection
    meta(name='discription',content='megatkhsこと髙橋稜のポートフォリオサイトです。')
    link(rel='stylesheet',href='./assets/css/style.css')
    <script src="https://use.typekit.net/orp0vem.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  //- ボディ
  body(data-state='begin')
    .container
      .bg_image
        img(src='./assets/img/bg_forest.jpg',alt='')
      header
        .header_inner
          h1
            div#name
              img(src='./assets/img/char_T.svg', alt="T")
              img(src='./assets/img/char_K.svg', alt="K")
              img(src='./assets/img/char_H.svg', alt="H")
              img(src='./assets/img/char_S.svg', alt="S")
            div#word Collection
      main
    script(src='./assets/js/script.js')
