doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1')
    title megatkhs's portfolio site
    meta(name='discription',content='megatkhsこと髙橋稜のポートフォリオサイトです。')
    link(rel='stylesheet',href='./assets/css/style.css')
    <script src="https://use.typekit.net/orp0vem.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  //- ボディ
  body#top
    .cover.on
      .color1
      .color2
    //- ヘッダー
    header#header
      .container
        .texts
          h1 タカハシぽーとふぉりお
          p こんな感じですよね
    main
    script(src='./assets/js/script.js')
