doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title megatkhs's portfolio site
    meta(name='discription' content='megatkhsこと髙橋稜のポートフォリオサイトです。')

  //- ボディ
  body#top
    //- ヘッダー
    header#header
      img(class='header_img' src='./img/header_img1.png' alt='')
      h1.sitettl
        |megatkhs
        span.small 's
        br
        span.light portfolio site
      //- グローバルナビゲーション
      nav#gnav
        ul
          li: a(href='#'): span about
          li: a(href='#'): span works
          li: a(href='#'): span gallery
          li: a(href='#' target='_blank'): span blog
      //- メイン
      main#main
        p こんにちは
      
